<div class="banner">
  <a href="http://idigbio.org" title="iDigBio: Integrated Digitization of Biocollections">
    <img style="height: 98px;" alt="GCB logo" src="img/idigbio-logo.png" />
  </a>
    <a href="https://github.com/Reproducible-Science-Curriculum/" title="Reproducible Science Curriculum">
    <img style="height: 98px" alt="rrhack logo" src="img/reproLogo-plustext.png" />
  </a>
<!--  <a href="http://software-carpentry.org" title="Software Carpentry">
    <img alt="Software Carpentry banner" src="{{site.swc_site}}/img/software-carpentry-banner.png" /> -->
  </a>
</div>
